<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="global.css" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="min-h-dvh px-6 py-10 md:px-[8%] md:py-[100px] flex flex-col text-white justify-between"
  >
    {{! LOGO }}
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="94"
        height="68"
        viewBox="0 0 94 68"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M93.1 43.0169L93.0979 42.9624C93.0993 42.9552 93.0972 42.9479 93.0965 42.9399C93.0514 42.154 92.7306 41.4109 92.1929 40.8467L92.1374 40.7908L92.1332 40.7893C92.0666 40.7336 91.9864 40.6975 91.9013 40.6847C91.8161 40.6719 91.7292 40.683 91.6497 40.7167L91.6007 40.74C90.768 41.144 90.0056 41.6841 89.3434 42.339C88.6653 41.9435 88.0438 41.4546 87.4964 40.8859C87.3251 40.708 87.1602 40.5229 87.0059 40.327L87.0009 40.3248L86.9945 40.3124C86.5394 39.4128 86.245 38.4375 86.125 37.4324C86.7225 36.8437 87.1757 36.1196 87.4481 35.3188C87.492 35.2104 87.5114 35.0933 87.505 34.9762C87.4984 34.8573 87.465 34.7416 87.4074 34.6381C87.3498 34.5346 87.2696 34.4461 87.1729 34.3795C87.0584 34.3337 86.943 34.2901 86.8267 34.2489C86.6724 34.1917 86.5166 34.1384 86.3596 34.0892C85.9608 33.9601 85.5563 33.8499 85.1475 33.759L85.1425 33.7575C84.8654 33.6965 84.5866 33.6439 84.3064 33.6C84.1892 33.6084 84.0753 33.6441 83.9737 33.7044C83.872 33.7646 83.7852 33.8479 83.7199 33.9477C83.6772 34.0127 83.6448 34.0842 83.6239 34.1596C83.6154 34.1923 83.6062 34.2257 83.6033 34.2591L83.6019 34.2634C83.44 35.097 83.4755 35.9581 83.7057 36.7748C83.1065 37.5846 82.3714 38.2796 81.5345 38.8274L81.5238 38.8347L81.5182 38.8325C80.5542 39.2007 79.533 39.3881 78.5038 39.3856C78.2532 38.4819 77.8586 37.6266 77.3357 36.8539C77.2914 36.7777 77.2273 36.7155 77.1505 36.6741C77.0737 36.6327 76.9873 36.6138 76.9006 36.6194L76.8622 36.6231L76.8551 36.6216C76.8209 36.6299 76.787 36.6394 76.7535 36.6499C76.016 36.8678 75.3784 37.3463 74.9548 38C74.9527 38.0072 74.9463 38.013 74.9427 38.0196C74.9413 38.0217 74.9406 38.0242 74.9406 38.0268L74.9164 38.066C74.9063 38.0878 74.9007 38.1115 74.9001 38.1357C74.8995 38.1598 74.9038 38.1838 74.9128 38.2061C74.9491 38.344 74.991 38.4805 75.0387 38.6147C75.2273 39.1644 75.5033 39.6787 75.8555 40.1368C76.0575 40.3952 76.2828 40.634 76.5288 40.8503C76.7075 42.1723 76.5811 43.5187 76.1598 44.7821L76.1556 44.7995C76.1512 44.8168 76.151 44.835 76.1549 44.8524C76.1587 44.8698 76.1667 44.8861 76.1779 44.8997C76.1892 44.9134 76.2035 44.9242 76.2196 44.9311C76.2357 44.9381 76.2533 44.941 76.2707 44.9396L76.2764 44.941L76.2956 44.9367C76.9625 44.7879 77.6393 44.6899 78.3211 44.6442C78.3637 44.6398 78.405 44.6376 78.4469 44.6347C80.2791 44.5221 82.1147 44.7857 83.8453 45.4101C85.5759 46.0344 87.1663 47.0068 88.5223 48.2697L88.5372 48.2806C88.5517 48.2905 88.5682 48.2969 88.5855 48.2991C88.6028 48.3013 88.6204 48.2994 88.6368 48.2934C88.6532 48.2873 88.668 48.2775 88.68 48.2645C88.692 48.2516 88.7008 48.2359 88.7057 48.2189C88.9621 46.9028 89.5173 45.6665 90.3267 44.6093C91.3563 44.4091 92.303 43.8972 93.0439 43.1403L93.0595 43.1236C93.0602 43.1221 93.0609 43.1207 93.0602 43.1199C93.0644 43.1154 93.0682 43.1106 93.0716 43.1054C93.088 43.0787 93.0978 43.0483 93.1 43.0169Z"
          fill="#FF0960"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M34.878 26.9768C33.8611 26.1384 32.3507 25.6953 30.4565 25.6953C29.1627 25.6997 27.8703 25.7836 26.5867 25.9466L26.5694 0.427012C27.0883 0.339242 27.6086 0.260317 28.1302 0.190271C28.8386 0.0648016 29.5564 0.00133644 30.2757 0.000588832C30.9123 -0.00587331 31.5483 0.0408635 32.1772 0.140317C32.7627 0.234434 33.2503 0.422669 33.6414 0.705021C34.031 0.987373 34.3242 1.38049 34.5201 1.88293C34.7477 2.35352 34.8615 2.98194 34.8622 3.76818L34.878 26.9768ZM1.67815 0.353167C0.995367 0.443664 0.499126 0.534161 0.188706 0.623935L0.204551 25.885C0.205991 27.3547 0.888773 28.5536 2.25506 29.4832C3.24898 30.171 4.45897 30.7407 5.88719 31.1896C7.3147 31.6682 9.05262 31.9071 11.1002 31.9064C12.993 31.9042 14.7158 31.6638 16.2665 31.1824C17.8488 30.672 19.1827 29.9364 20.2681 28.9757C21.3535 28.015 22.1904 26.8153 22.7788 25.3753C23.3982 23.9057 23.7079 22.1956 23.7065 20.2467C23.7051 18.3571 23.409 16.6934 22.8184 15.2541C22.2278 13.8148 21.4205 12.6159 20.3956 11.6574C19.3804 10.6742 18.1763 9.90958 16.8571 9.41015C15.5225 8.90119 14.1101 8.64707 12.6207 8.64852C11.783 8.64852 11.0073 8.70934 10.2943 8.82952C9.6108 8.95042 8.88264 9.16037 8.10623 9.46082L8.10335 3.76745C8.10335 3.01813 8.00972 2.41796 7.82246 1.96836C7.63664 1.48837 7.35719 1.11407 6.98411 0.844024C6.61175 0.574704 6.14648 0.395158 5.58758 0.305384C4.98733 0.210171 4.38023 0.16537 3.77259 0.171448C3.05884 0.172172 2.36093 0.232986 1.67815 0.352442V0.353167ZM14.4004 24.4812C13.6254 25.4115 12.5241 25.8771 11.0966 25.8785C10.3829 25.8785 9.77789 25.8191 9.28165 25.699C8.85799 25.5684 8.45131 25.3876 8.07022 25.1603L8.06374 15.354C8.59095 15.1137 9.07207 14.9334 9.50637 14.8132C9.97164 14.693 10.5147 14.6322 11.1355 14.6322C12.5004 14.6308 13.5872 15.0956 14.3946 16.0244C15.2013 16.9533 15.606 18.3629 15.6075 20.2525C15.6089 22.1116 15.2063 23.5212 14.4004 24.4812ZM79.1457 32.0758C77.227 32.0765 75.4394 31.8267 73.7807 31.325C72.1544 30.7921 70.7233 30.0074 69.4881 28.9713C68.2839 27.9353 67.3238 26.6322 66.6072 25.0619C65.9237 23.4908 65.5816 21.6526 65.5801 19.548C65.5787 17.4738 65.9187 15.6986 66.6007 14.2217C67.3145 12.7129 68.2407 11.4865 69.3779 10.5439C70.5152 9.56884 71.8437 8.84513 73.2773 8.41974C74.7268 7.94971 76.2405 7.71033 77.7636 7.71024C79.4864 7.7088 81.0472 7.95929 82.4459 8.46101C83.877 8.96273 85.0963 9.65268 86.1046 10.5316C87.1288 11.3888 87.9465 12.4679 88.4965 13.6881C89.0828 14.9131 89.3759 16.2489 89.3767 17.6939C89.3774 18.7625 89.0691 19.5792 88.4519 20.1453C87.8346 20.7115 86.9732 21.0735 85.8684 21.2313L73.8239 22.9826C74.1819 24.0186 74.9144 24.8034 76.0199 25.337C77.1255 25.8394 78.3938 26.0899 79.8242 26.0885C81.1574 26.0885 82.4091 25.9299 83.5788 25.615C84.7816 25.2682 85.7568 24.8751 86.5044 24.4349C87.0244 24.7484 87.4637 25.1878 87.8217 25.7533C88.1796 26.3187 88.359 26.916 88.3597 27.5444C88.3604 28.9583 87.6784 30.011 86.3135 30.7031C85.2735 31.2381 84.1031 31.6008 82.8031 31.7891C81.5023 31.9788 80.2837 32.0743 79.1457 32.075V32.0758ZM77.7679 13.5542C76.9872 13.5542 76.3044 13.6809 75.7196 13.9328C75.1672 14.1841 74.712 14.5142 74.3548 14.9232C73.9952 15.3043 73.7138 15.7528 73.5265 16.2431C73.3643 16.7149 73.2662 17.2066 73.2348 17.7048L81.5737 16.3799C81.4757 15.7508 81.117 15.1231 80.4991 14.4947C79.8811 13.867 78.9707 13.5542 77.7679 13.5542ZM38.8127 8.77232C39.1375 8.6782 39.6409 8.58336 40.3244 8.48852C41.0521 8.39285 41.7852 8.34496 42.519 8.34517C43.2342 8.34517 43.868 8.39151 44.4204 8.48563C45.006 8.57974 45.4936 8.76798 45.8839 9.05033C46.2743 9.33268 46.5674 9.72508 46.7626 10.2275C46.9902 10.6988 47.1047 11.328 47.1054 12.1128L47.1126 22.2456C47.1126 23.5343 47.4389 24.4609 48.0893 25.0257C48.7396 25.5599 49.6832 25.8264 50.9184 25.8256C51.666 25.8249 52.2674 25.7612 52.7225 25.6352C52.8522 25.6019 52.9732 25.5686 53.087 25.5353C52.0981 26.6155 51.604 27.9245 51.6055 29.4622C51.6055 30.4171 51.797 31.283 52.1788 32.0606C51.7524 32.0823 51.3174 32.0939 50.8737 32.0939C49.1178 32.0953 47.4922 31.9078 45.997 31.5313C44.5335 31.1549 43.2652 30.575 42.192 29.7902C41.1233 29.0115 40.267 27.9747 39.7022 26.7755C39.1166 25.5187 38.8235 24.0106 38.8213 22.2514L38.8127 8.77232ZM57.7843 23.6747C56.22 23.6762 54.9063 24.07 53.8432 24.857L53.8324 8.76219C54.1565 8.66807 54.6607 8.57323 55.3435 8.47838C56.0711 8.38274 56.8042 8.33485 57.538 8.33504C58.2532 8.33504 58.8877 8.38137 59.4402 8.47549C60.0257 8.56961 60.5133 8.75784 60.9037 9.04019C61.294 9.32255 61.5864 9.71494 61.7824 10.2181C62.0099 10.6887 62.1245 11.3171 62.1245 12.1026L62.1338 25.2385C61.0369 24.1953 59.5871 23.674 57.7836 23.6747H57.7843ZM54.5289 26.5366C53.7165 27.354 53.3102 28.3596 53.3117 29.5534C53.3117 30.748 53.7193 31.7529 54.5325 32.5688C55.3788 33.3854 56.4843 33.793 57.8499 33.7923C59.2154 33.7916 60.3037 33.3825 61.1161 32.5644C61.961 31.7471 62.383 30.7415 62.3823 29.5476C62.3816 28.3531 61.9574 27.3482 61.1118 26.5323C60.2987 25.7156 59.2097 25.308 57.8441 25.3087C56.4786 25.3095 55.3737 25.7185 54.5289 26.5366ZM60.4024 59.0056C60.9402 58.9372 61.4766 58.8583 62.0114 58.7689L61.9991 39.5863C61.9984 38.8008 61.8839 38.1724 61.6563 37.7018C61.4604 37.1994 61.168 36.8062 60.7776 36.5239C60.3873 36.2415 59.8989 36.0533 59.3141 35.9592C58.7617 35.8651 58.1272 35.8187 57.4127 35.8195C56.6968 35.8195 55.9816 35.8832 55.2664 36.0091C54.5836 36.1033 54.0636 36.1829 53.7064 36.2459L53.7193 55.4277C53.7193 56.2132 53.8173 56.8576 54.0132 57.3607C54.2408 57.8313 54.5498 58.2078 54.9401 58.4902C55.3305 58.7732 55.8023 58.9615 56.3547 59.0549C56.9402 59.149 57.5906 59.196 58.3058 59.1953C59.021 59.1953 59.7196 59.1316 60.4024 59.0056ZM48.3097 59.0606C49.0256 58.9665 49.5456 58.8717 49.8704 58.7768L49.861 44.4964C49.8589 41.4173 48.9464 39.1085 47.1256 37.57C45.3358 35.9997 42.8323 35.2164 39.6136 35.2186C38.5736 35.2186 37.6142 35.3293 36.737 35.5501C35.8914 35.7391 35.2576 35.9121 34.8355 36.07L34.8319 31.451C34.8319 30.6655 34.7167 30.037 34.4891 29.5657C34.2939 29.0633 34.0008 28.6709 33.6104 28.3885C33.2201 28.1062 32.7325 27.918 32.1476 27.8238C31.5945 27.7297 30.9607 27.6834 30.2455 27.6834C29.5303 27.6834 28.8151 27.7471 28.0992 27.8738C27.4171 27.9679 26.8964 28.0475 26.5392 28.1105L26.5579 55.4458C26.5579 56.2313 26.6566 56.8757 26.8518 57.3788C27.0617 57.8276 27.3808 58.216 27.7794 58.5083C28.1691 58.7906 28.6408 58.9788 29.194 59.073C29.7788 59.1671 30.4292 59.2141 31.1443 59.2134C31.8622 59.215 32.5793 59.1674 33.2906 59.0708C34.0051 58.9759 34.5251 58.8811 34.8507 58.787L34.8391 42.2911C35.1971 42.071 35.6674 41.8821 36.253 41.7242C36.8577 41.5643 37.4808 41.4847 38.1061 41.4875C39.0813 41.4875 39.8945 41.7532 40.5448 42.2875C41.2283 42.7892 41.5697 43.6848 41.5712 44.9734L41.5784 55.4357C41.5784 56.2212 41.6763 56.8655 41.8722 57.3687C42.082 57.8174 42.4008 58.2058 42.7992 58.4981C43.1895 58.7812 43.6613 58.9694 44.2137 59.0628C44.7993 59.1569 45.4496 59.204 46.1648 59.2033C46.9124 59.2033 47.6269 59.1555 48.3097 59.0606ZM76.6854 35.1939C78.6365 35.1925 80.4407 35.4423 82.0994 35.944C83.7905 36.4146 85.2375 37.1516 86.441 38.1565C87.6445 39.1614 88.5887 40.4334 89.2722 41.9718C89.9557 43.4799 90.2986 45.2862 90.3 47.3915C90.3014 49.4028 90.0098 51.162 89.4256 52.6708C88.8415 54.1796 88.0133 55.4523 86.9408 56.4898C85.8691 57.4961 84.5691 58.2512 83.0415 58.7551C81.5463 59.2583 79.8717 59.511 78.0186 59.5124C76.6206 59.5131 75.3206 59.3097 74.1171 58.9021L74.1221 66.7261C73.7973 66.8203 73.2773 66.9144 72.5621 67.0099C71.8469 67.1359 71.1151 67.1989 70.3675 67.1996C69.7148 67.2047 69.0626 67.158 68.4171 67.0599C67.864 66.9658 67.3923 66.7775 67.0019 66.4952C66.6122 66.2128 66.3191 65.8197 66.1232 65.3173C65.9287 64.8467 65.8301 64.2175 65.8301 63.432L65.8142 40.8098C65.8142 39.9613 65.9921 39.2699 66.3494 38.7356C66.739 38.2006 67.259 37.7134 67.9087 37.2732C68.917 36.6441 70.168 36.1409 71.6632 35.7623C73.1584 35.3843 74.8323 35.1947 76.6854 35.1939ZM76.7956 53.1979C80.144 53.195 81.8171 51.2619 81.8142 47.3973C81.8128 45.3861 81.3893 43.894 80.5437 42.9202C79.7299 41.9472 78.5429 41.4607 76.9829 41.4622C76.3649 41.4622 75.8125 41.5418 75.3249 41.6989C74.8857 41.8066 74.4603 41.965 74.0573 42.1709L74.0638 52.5398C74.4541 52.728 74.8769 52.8844 75.3321 53.0104C75.7873 53.1356 76.2749 53.1986 76.7956 53.1979ZM17.1099 41.4245C16.3039 41.4245 13.6016 41.5498 12.8605 41.7995C12.1518 42.0493 11.1528 42.4229 10.6054 42.9217C10.0905 43.3894 9.4862 43.9809 9.16498 44.6976C8.84303 45.4144 8.68242 46.2542 8.68242 47.22C8.68386 49.1508 9.43434 50.5981 10.5622 51.5624C11.7232 52.5275 15.426 53.0089 17.0688 53.0075C18.0354 53.0075 18.873 52.8974 19.5824 52.6795C20.2244 52.4858 20.8535 52.2512 21.4658 51.9772C22.1112 52.4131 22.5944 52.8952 22.9171 53.4245C23.2398 53.9226 23.4011 54.5293 23.4018 55.2453C23.4018 56.5224 22.7752 57.5186 21.5184 58.236C20.2623 58.9216 18.523 59.2655 14.3708 59.267C12.3405 59.2684 9.94715 58.9897 8.30358 58.4301C6.66 57.8393 5.05676 57.0306 3.86334 56.0047C2.70304 54.9463 1.61477 53.6858 0.969439 52.2227C0.32411 50.7595 0.00144506 49.14 4.59724e-06 47.3655C-0.00143587 45.3108 0.335633 43.5197 1.01121 41.9936C1.7192 40.4363 2.85429 39.1592 4.04556 38.1615C5.23682 37.1646 6.79181 36.4167 8.33815 35.9172C9.91546 35.4177 12.1316 35.1679 13.8717 35.1664C18.1211 35.165 19.9094 35.5682 21.1662 36.3776C22.4238 37.1863 23.0525 38.2289 23.0532 39.5052C23.0532 40.0967 22.9092 40.6578 22.6197 41.187C22.3434 41.6684 22.0021 42.1089 21.6056 42.496C21.0582 42.2469 20.397 42.0138 19.6235 41.7966C18.85 41.5476 18.0123 41.4238 17.1099 41.4245Z"
          fill="white"
        />
      </svg>
    </div>

    {{! INFO }}
    <div class="flex flex-col gap-8 md:gap-16">
      <div class="flex flex-col gap-4">
        <h1
          class="text-[clamp(2.375rem,_1.7rem_+_2.88vw,_3.5rem)] leading-tight"
        >BlueChip - <br /> Best Casino in India 🇮🇳</h1>

        <p class="text-[clamp(1rem,_0.55rem_+_1.92vw,_1.75rem)]">Join this epic
          platform and get 500% Welcome Pack!</p>
      </div>

      <div class="flex flex-col items-center gap-4 md:flex-row md:gap-x-12">
        {{! BOX }}
        <div
          id="box"
          class="relative flex flex-col items-center gap-2 bg-white rounded-full text-black py-4 px-12 w-[90%] text-center max-w-[500px]"
        >
          <span
            class="uppercase text-[clamp(0.68rem,_0.4880rem_+_0.8192vw,_1rem)] font-bold text-[#4F4F4F]"
          >Sign up and take your welcome pack</span>
          <div class="flex gap-2 items-center">
            <span
              class="text-[clamp(0.68rem,_0.4880rem_+_0.8192vw,_1rem)] text-[#4F4F4F]"
            >Limited offer:</span>
            <span
              id="time"
              class="text-[clamp(1rem,_0.7rem_+_1.28vw,_1.5rem)] text-[#13B8FF] font-bold"
            >...</span>
          </div>
        </div>

        <a
          href="/cross"
          class="uppercase text-[clamp(1.56rem,_1.146rem_+_1.7664vw,_2.25rem)] bg-gradient-to-b from-[#FF1818] to-[#C71717] rounded-full px-16 py-4 whitespace-nowrap text-center w-fit md:order-[-1]"
        >Play now</a>
      </div>
    </div>
  </body>
  <script>var anchors = document.querySelectorAll('a');
    Array.prototype.forEach.call(anchors, function (element, index) {
    element.href = element.href + window.location.search; });</script>
</html>